<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bradesketch</title>
        <script src="/index.php/cytoscape.js"></script>
        <link rel="stylesheet" href="/index.php/style.css">
    </head>
    <body>
        <div id="menu">
            <div><button id="close-menu-btn">x</button></div>
            <img src="/index.php/getImage?img=logo" alt="Logo" width="32" height="32">
            <h1><span style="color: rgb(182, 43, 43);">Brades</span>ketch</h1>

            <div>
                <p><button id="login-btn" title="Entrar">Entrar</button></p>
                <p>
                    <button id="new-doc-btn" title="Novo Documento" style="margin: 0 10px;">Novo</button>
                    <button id="open-doc-btn" title="Abrir Documento" style="margin: 0 10px;">Abrir</button>
                </p>
            </div>

            <hr>

            <form id="add-node-form" method="post">
                <h3>Adicionar Item</h3>
                <p>
                    <label for="add-node-form-category">Categoria:<br>
                        <select id="add-node-form-category" name="category" required>
                            <option>Selecione</option>
                        </select>
                    </label>
                </p>

                <p>
                    <label for="add-node-form-type">Tipo:<br>
                        <select id="add-node-form-type" required>
                            <option>Selecione</option>
                        </select>
                    </label>
                </p>

                <p>
                    <label for="add-node-form-node">Item:<br>
                        <select id="add-node-form-node" name="node" required>
                            <!-- Options will be populated dynamically -->
                        </select>
                    </label>
                </p>

                <p><button id="add-node-form-submit" type="submit">Adicionar Item</button></p>
            </form>

            <form id="add-edge-form" method="post">
                <h3>Adicionar Conexão</h3>
                <p><button id="add-edge-form-submit" type="submit" disabled>Adicionar Conexão</button></p>
            </form>

            <p>
                <button id="export-btn" type="button">Exportar</button>
            </p>
        </div>

        <div id="info-panel">
            <h2>Propriedades do Nó</h2>
        </div>

        <div id="modal">
            <div><button id="close-modal-btn">x</button></div>
            <div id="modal-new-doc">
                <div id="modal-new-doc-content">
                    <h2>Novo Projeto</h2>
                    <form id="new-doc-form" method="post">
                        <p><label for="new-doc-form-name">Nome:<br>
                            <input type="text" id="new-doc-form-name" name="name"></label>
                        </p>
                        <p><button type="submit">Criar</button></p>
                    </form>
                </div>
            </div>

            <div id="modal-open-doc">
                <div id="modal-open-doc-content">
                    <h2>Abrir Projeto</h2>
                    <form id="open-doc-form" method="post">
                        <p><label for="open-doc-form-id">Projeto 
                            <select id="open-doc-form-id" name="id">
                            </select>
                        </label></p>
                        <p><button type="submit">Abrir</button></p>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="cy"></div>
    </body>
    <script type="module" src="/index.php/script.js"></script>
</html>