<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização</title>
    <script src="/index.php/cytoscape.js"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
  </head>
  <body>
    <div id="cy"></div>

    <script>
        container = document.getElementById('cy');

        const response = await fetch('http://192.168.7.5:8090/demo.php');

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        console.log(data);

        data['container'] = container;

        document.addEventListener("DOMContentLoaded", function() {
            var cy = cytoscape({});
        });
    </script>
  </body>
</html>