html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu {
    position: absolute;

    left: 0;
    top: 0;
    width: 270px;
    height: 100%;
    padding: 10px 0;

    text-align: center;

    background-color: #EEE;

    
    z-index: 200;
}

#menu.hide {
    display: none;
}

#menu > div:first-of-type {
    text-align: right;
    padding: 0 10px;
}

#info-panel {
    position: absolute;

    right: 0;
    top: 0;

    width: 300px;
    height: 100%;
    
    background-color: #f0f0f0;
    
    display: none;
    z-index: 200;
}

#info-panel.show {
    display: block;
}

#cy {
    position: absolute;

    left: 0;
    top: 32px;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    
    z-index: 100;
}

#modal {
    position: absolute;

    border: 2px solid #CCC;
    background-color: #fff;

    left: 25%;
    top: 8%;
    width: 50%;
    height: 70%;

    padding: 10px;

    display: none;
    z-index: 200;
}

#modal.show {
    display: block;
}

#modal-new-doc {
    display: none;
}

#modal-new-doc.show {
    display: block;
}

#modal-open-doc {
    display: none;
}

#modal-open-doc.show {
    display: block;
}