
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ###################################### */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#topMenu {
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #ffffb7;
    color: #333;
    line-height: 45px;
    padding-left: 10px;
    z-index: 10;
    overflow: hidden;
    display: none;
    font-size: 12px;
}

#topMenu.show {
    display: block;
}

#sideMenu {
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
    position: absolute;
    top: 45px;
    left: 0;
    display: block;
    height: calc(100% - 45px);
    color: #333;
    z-index: 10;
    width: 200px;
    overflow: hidden;
    display: none;
}

#sideMenu.show {
    display: block;
}

#infoPanel {
    box-shadow: -1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
    position: absolute;
    top: 45px;
    right: 0;
    width: 500px;
    height: calc(100% - 45px);
    color: black;
    z-index: 10;
    overflow: hidden;
    display: none;
}

#infoPanel.show {
    display: block;
}

#modal {
    position: absolute; 
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
    z-index: 200;

    width: 70%;
    height: 80%;
    top: 7%;
    left: 15%;
}

#modalHeader {
    text-align: right;
    padding: 3px;
}

#modalContent {
    padding: 10px;
    overflow: auto;
}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}